<section>
  <!-- navbar -->
  <nav>
    <div class="walletBox">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="450 0 200 320">
        <path fill="rgb(65, 67, 82)" fill-opacity="1"
          d="M0,32L40,64C80,96,160,160,240,170.7C320,181,400,139,480,106.7C560,75,640,53,720,42.7C800,32,880,32,960,58.7C1040,85,1120,139,1200,176C1280,213,1360,235,1400,245.3L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
      </svg>

      <div class="wallet-container">
        <div class="box">
          <img src="../../../assets/media/wallet.png" alt="wallet">

          <h1>{{wallet}}€</h1>
        </div>

        <div class="box">
          <h1>incomings</h1>
          <p>+{{incomings}}€</p>
        </div>
      </div>
    </div>

    <div class="currencyBox">
      <div class="currency-container">
        <a href="#">Bitcoin</a>
        <span>BTC</span>
      </div>

      <div class="currency-container">
        <a href="#">Etherium</a>
        <span>ETM</span>
      </div>

      <div class="currency-container">
        <a href="#">Binance Coin</a>
        <span>BNB</span>
      </div>

      <div class="currency-container">
        <a href="#">XRP</a>
        <span>XRP</span>
      </div>

      <div class="currency-container">
        <a href="#">Dogecoin</a>
        <span>Doge</span>
      </div>

      <div class="currency-container">
        <a href="#">Polkadot</a>
        <span>DOT</span>
      </div>

      <div class="currency-container">
        <a href="#">Litecoin</a>
        <span>LTC</span>
      </div>

      <div class="currency-container">
        <a href="#">Maker</a>
        <span>MKR</span>
      </div>
    </div>
  </nav>


  <div class="box-container">
    <div class="currency-card">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"
          alt="">
      </div>

      <h1>asdfasdas</h1>

      <h1>asdasdasd</h1>

      <button>Invest</button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button></button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button></button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button></button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1>zz</h1>

      <h1></h1>

      <button>zz</button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button>zz</button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button>zz</button>
    </div>
    <div class="currency-card">
      <div class="img-container">
        <img src="" alt="">
      </div>

      <h1></h1>

      <h1></h1>

      <button>zz</button>
    </div>
  </div>
</section>
