section {
  position: relative;
  background: #1e2c3a;
  height: 100vh;
}

/* background img with opacity */
section::before {
  content: "";
  position: absolute;
  background: url("../../../assets/media/homeBg.png");
  background-size: cover;
  opacity: 0.05;
  height: 100%;
  width: 100%;
}

/* elements container */
.box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* title */
.box::before {
  content: "Choose your path!";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.15rem;
  width: 100%;
  height: 35%;
}

/* img container */
.box .img-container {
  position: relative;
  border: 5px solid white;
  border-radius: 0.3rem;
  width: 20%;
  height: 30%;
  overflow: hidden;
}

/* img overlay */
.box .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: hsla(210, 57%, 11%, 0.85);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* overlay title */
.box .img-container .overlay::before {
  content: "BlackJack";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
  font-weight: 600;
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.box .img-container:nth-of-type(2) .overlay::before {
  content: "Cripto Market";
}

/* image */
.box .img-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  transition: transform 350ms ease-in-out;
}

/* img hover animation */
.box .img-container .overlay:hover + img {
  transform: scale(1);
}

/* selected path img container */
.img-box {
  position: absolute;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
}

/* selected path img */
.img-box img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/* independent class */
.growUp {
  transform: scale(0);
}

/* #region responsive*/

/* tablet */
@media (min-width: 576px) and (max-width: 1100px) {
  /* title */
  .box::before {
    font-size: 5vw;
  }

  /* img container */
  .box .img-container {
    width: 40%;
    height: 30%;
  }

  /* overlay title */
  .box .img-container .overlay::before {
    font-size: 3.5vw;
  }

  /* selected path img container */
  .img-box {
    border-radius: 1rem;
  }
}

@media (max-width: 575.99px) {
  /* elements container */
  .box {
    flex-direction: column;
  }

  /* title */
  .box::before {
    top: -10%;
    font-size: 6.5vw;
  }

  /* img container */
  .box .img-container {
    width: 50%;
    height: 25%;
  }

  /* overlay title */
  .box .img-container .overlay::before {
    font-size: 5vw;
  }

  /* selected path img container */
  .img-box {
    border-radius: .5rem;
  }
}

/* #endregion */
