<section>
  <nav>
    <a routerLink="/cripto">Cripto Market</a>
    <a href="https://www.pokerstars.pt/onlinecasino/games/blackjack/rules/" target="_blank">
      <img src="../../../assets/media/tutorial.png" alt="tutorial">
    </a>
  </nav>

  <div class="chip-box">
    <div class="chip">
      <img src="../../../assets/media/chip1.png" alt="chip de 1" (click)="placeBet(1)">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip5.png" alt="chip de 5" (click)="placeBet(5)">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip10.png" alt="chip de 10" (click)="placeBet(10)">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip25.png" alt="chip de 25" (click)="placeBet(25)">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip50.png" alt="chip de 50" (click)="placeBet(50)">
    </div>
  </div>

  <div class="player-box">
    <div class="card">
      <img alt="" id="c1" #card1>
    </div>

    <div class="card">
      <img alt="" id="c2" #card2>
    </div>

    <div class="card">
      <img class="hide"id="c3" alt="" #card3>
    </div>

    <div class="card">
      <img class="hide" id="c4" alt="" #card4>
    </div>

    <div class="card">
      <img class="hide" id="c5" alt="" #card5>
    </div>
  </div>

  <div class="dealer-box">
    <div class="card">
      <img alt="" id="c6" #card6>
    </div>

    <div class="card">
      <img alt="" id="c7" #card7>
    </div>

    <div class="card">
      <img class="hide" id="c8" alt="" #card8>
    </div>

    <div class="card">
      <img class="hide" id="c9" alt="" #card9>
    </div>

    <div class="card">
      <img class="hide" id="c10" alt="" #card10>
    </div>
  </div>

  <div class="deck">
    <img src="../../../assets/media/FullDeck.png" alt="deck">
  </div>

  <button class="start" (click)="iniciarJogo(card1, card2, card3, card4, card5, card6, card7, card8, card9, card10)">Jogar</button>

  <button class="clearb" (click)="clearBet()">Apagar aposta</button>

  <h1 class="money">{{wallet}}€</h1>

  <div class="gameplay">
    <h1>{{bet}}</h1>

    <button (click)="drawPCard(card3, card4, card5)">Pedir</button>

    <button (click)="drawDCard(card8, card9, card10)">Parar</button>

    <button>Dividir</button>
  </div>
</section>
