<section>
  <nav>
    <a routerLink="/cripto">Cripto Market</a>
    <a href="https://www.pokerstars.pt/onlinecasino/games/blackjack/rules/" target="_blank">
      <img src="../../../assets/media/tutorial.png" alt="tutorial">
    </a>
  </nav>

  <div class="chip-box">
    <div class="chip">
      <img src="../../../assets/media/chip1.png" alt="chip de 1">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip5.png" alt="chip de 5">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip10.png" alt="chip de 10">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip25.png" alt="chip de 25">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip50.png" alt="chip de 50">
    </div>
  </div>
</section>
<!-- <button (click)="iniciarJogo()">Jogar</button> -->
