section {
  position: relative;
  background: green url(../../../assets/media/blackjackBg.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  position: absolute;
  left: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100rem 0 0 100rem;
  width: 15%;
  height: 7%;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1vw;
  text-decoration: none;
  width: 50%;
  height: 100%;
}

nav a:nth-of-type(1) {
  position: relative;
}

nav a:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 75%;
  left: 5%;
  background: white;
  width: 90%;
  height: 3%;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}

nav a:nth-of-type(1):hover::before {
  transform: scale(1);
}

nav a:nth-of-type(2) {
  width: 20%;
  height: 70%;
}

nav a img {
  width: 100%;
  height: 100%;
}

.chip-box {
  position: absolute;
  top: 15%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0.3rem 0.3rem 0;
  border: 5px solid white;
  border-left: none;
  height: 70%;
  width: 15%;
}

.chip-box .chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 100%;
  width: 45%;
  height: calc(100% / 5 - 10px);
}

.chip-box .chip img {
  object-fit: fill;
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.player-box {
  position: absolute;
  top: 60%;
  left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.3rem 0.3rem 0 0;
  border: 5px solid white;
  border-bottom: none;
  height: 40%;
  width: 60%;
}

.player-box .card {
  border: 2px solid white;
  border-radius: 0.3rem;
  width: calc(100% / 5 - 10px);
  height: 80%;
}

.player-box .card img {
  border-radius: 0.3rem;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.dealer-box {
  position: absolute;
  top: 0;
  left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 0.3rem 0.3rem;
  border: 5px solid white;
  border-top: none;
  height: 40%;
  width: 60%;
}

.dealer-box .card {
  border: 2px solid white;
  border-radius: 0.3rem;
  width: calc(100% / 5 - 10px);
  height: 80%;
}

.dealer-box .card img {
  border-radius: 0.3rem;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.deck {
  position: absolute;
  top: 33%;
  left: 84%;
  border-radius: 0.3rem;
  border: 5px solid white;
  height: 35%;
  width: 13%;
}

.deck img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.start {
  position: absolute;
  top: 85%;
  left: 85%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  color: rgb(8, 207, 1);
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 100rem;
  border: none;
  outline: none;
  width: 10%;
  height: 7%;
  cursor: pointer;
}

.gameplay {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 60%;
  height: 20%;
}

.gameplay h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  color: rgb(211, 211, 211);
  font-size: 1.5vw;
  border-radius: 100rem;
  width: 15%;
  height: 25%;
}

.gameplay button {
  color: rgb(8, 207, 1);
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-size: 1.3vw;
  width: 15%;
  height: 25%;
}

.gameplay button:nth-of-type(2){
  color: rgb(207, 1, 1);
}

.gameplay button:nth-of-type(3){
  color: rgb(1, 97, 207);
}
/* saeda */
