<section>
  <nav>
    <a routerLink="/cripto">Cripto Market</a>
    <a href="https://www.pokerstars.pt/onlinecasino/games/blackjack/rules/" target="_blank">
      <img src="../../../assets/media/tutorial.png" alt="tutorial">
    </a>
  </nav>

  <div class="chip-box">
    <div class="chip">
      <img src="../../../assets/media/chip1.png" alt="chip de 1">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip5.png" alt="chip de 5">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip10.png" alt="chip de 10">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip25.png" alt="chip de 25">
    </div>

    <div class="chip">
      <img src="../../../assets/media/chip50.png" alt="chip de 50">
    </div>
  </div>

  <div class="player-box">
    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>
  </div>

  <div class="dealer-box">
    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>

    <div class="card">
      <img alt="">
    </div>
  </div>

  <div class="deck">
    <img src="../../../assets/media/FullDeck.png" alt="deck">
  </div>

  <button class="start" (click)="iniciarJogo()">Jogar</button>

  <div class="gameplay">
    <h1>0000</h1>

    <button>Pedir</button>

    <button>Parar</button>
    
    <button>Dividir</button>
  </div>
</section>
